<!DOCTYPE html>
<html>
  <head>
    <title>CheapAdvisor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1>Cheap Advisor</h1>
    <%= yield %>
    <footer>this is a stupid footer</footer>
  </body>
</html>
